.logo{
  position: absolute;
  width: 6.3rem;
  top: 1rem;
  left: 9.33rem;
}

.slide1{
  .title{
    position: absolute;
    width: 17.73rem;
    bottom:5rem;
    left: 3.5rem;
  }
}

.btn-moon{
  position: absolute;
  width:11.33rem; 
  top: 8.9rem;
  left: 6.8rem;
  display:block;
  opacity:0;
  z-index:99;
  img{
    width:100%;
  }
}

.swiper-container.leaved{
  display:none;
}

.btn-buy, .btn-share{
  position: absolute;
  width:8.13rem;
  bottom:1.5rem;
  opacity:0;
  z-index:99;
  img{
    width: 100%;
  }
}

.btn-buy{
  left:3.5rem;
}

.btn-share{
  right:3.5rem;
}

.slide1-2-video, .slide2-2-video, .slide3-2-video, .slide4-2-video, .slide5-2-video{
  z-index:99999;
  // display:none;
}