.logo{
  position: absolute;
  width: 6.3rem;
  top: 1rem;
  left: 9.33rem;
}

.index{
  .title{
    position: absolute;
    width:17.66rem;
    top: 4.13rem;
    left: 3.66rem;
  }
  .btn-start{
    position: absolute;
    width: 8.7rem;
    bottom: 3rem;
    left: 8.16rem;
    z-index:99;
  }
  .index-pros{
    position: absolute;
    width:24.66rem;
    top:7.86rem;
    left:-0.433rem;
  }
}

.slide1{
  .title{
    position: absolute;
    width: 17.73rem;
    bottom:5rem;
    left: 3.5rem;
  }
}