.loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    background: url("../images/bg-load.jpg") no-repeat;
    background-size: cover;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
}

.loading .gear {
    padding-top: 15rem;
}

.loading .gear-body {
    width: 135px;
    background: url(../images/moon-items.png) no-repeat;
    background-size: 540px 675px;
    height: 135px;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    top: 11rem;
    -webkit-animation: moonload 3s step-end infinite;
    animation: moonload 3s step-end infinite;
    transform: scale(0.5);
}

.loading .text {
    margin-top: 3rem;
    img{
        width: 4.25rem;
        display:block;
        margin-left: 10.2rem;
    }
    
}

.loading .text .dot {
    position: relative;
    font-size: 1.2rem;
    top: 0.5rem;
    color: #ffeec0;
}

.loading.leave {
    opacity: 0;
    // -webkit-transform: scale(10);
    // -ms-transform: scale(10);
    // transform: scale(10);
}

.loading.leaved {
    display: none;
}