.slide5 {
    background-color: #0E0706;
    opacity:0;
    .slide5-mask {
        position: absolute;
        width: 100%;
        top: 0.33rem;
        left: 0;
        z-index:99;
    }
    .slide5-2 {
        position: absolute;
        width: 24.86rem;
        z-index:98;
        opacity:0;
        top: 0.33rem;
    }
    .slide5-3 {
        position: absolute;
        width: 24.86rem;
        z-index:97;
        opacity:0;
    }
    .slide5-bg {
        position: absolute;
        width: 24.8rem;
        top: 0.33rem;
    }
    .slide-font{
      top: 18.6rem;
      left: 0.76rem;
      background: url(../images/slide5-font.png) no-repeat;
      background-size: 1600px;
      opacity:1;
    }
}



.slide5-text{
  position: absolute;
  z-index:101;
  top: 1.66rem;
  left:2.63rem;

  .slide5-t-1{
    width: 0.96rem;
    top: 0.2rem;
    left: 0;
    position: absolute;
    opacity:0;
  }
  .slide5-t-2{
    position: absolute;
    opacity:0;
    width: 2.7rem;
    top: 0;
    left:1.53rem;
  }
  .slide5-t-3{
    position: absolute;
    opacity:0;
    width: 0.86rem;
    top: 0.26rem;
    left: 4.8rem;
  }
  .slide5-t-4{
    position: absolute;
    opacity:0;
    width: 0.86rem;
    top: 0.26rem;
    left:6.03rem;
  }
}